.Lottery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.Lottery-balls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Lottery-btn {
    margin-top: 20px;
    font-size: 20px;
    padding: 8px;
    width: 200px;
}